@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.display-flex {
  display: flex;
}

.btn-primary {
  background-color: orange;
  color: white;
  padding: 0.5rem 2rem;
  border: none;
  outline: none;
  border-radius: 0.5rem;
}

.bg {
  background: url(./assets/bg.png) no-repeat center;
}

/* --------------Header----------------- */

.nav-container {
  justify-content: space-between;
  align-items: center;
  margin-block: 1rem;
}

.logo {
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.nav-links {
  align-items: center;
  gap: 2rem;
}

.navbar li {
  list-style: none;
}

.navbar li a {
  text-decoration: none;
}

.nav-item-1 {
  color: orange;
}

.nav-item-2 {
  color: skyblue;
}

.nav-item-3 {
  color: #05d4df;
}

.nav-item-4 {
  color: #5d58ef;
}

.bx-menu {
  display: none;
}

/* ----------------------hero section------------------- */
.hero {
  justify-content: space-between;
  align-items: center;
}

.hero-content {
  flex-direction: column;
  gap: 1rem;
}

.button {
  width: 8.9rem;
  padding: 0.7rem;
  background-color: black;
  font-size: 0.8rem;
}

.empower {
  color: orange;
}

.towards {
  color: skyblue;
}

/* ---------------------Main section----------------------- */

.our-stories {
  background-image: linear-gradient(to bottom, white 70%, #fea10161);
}

/* curriculum */
.curriculum {
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-block: 5rem;
}

.card-1 {
  padding: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  border-radius: 1rem;
  box-shadow: #63636333 0px 2px 8px 0px;
  background-image: linear-gradient(to top, white 70%, #64c9ff48);
}

.readmore-1 {
  color: #64c8ff;
}

.card-2 {
  padding: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  border-radius: 1rem;
  box-shadow: #63636333 0px 2px 8px 0px;
  background-image: linear-gradient(to top, white 70%, #f0a8003b);
}

.readmore-2 {
  color: #f0aa00;
}

.card-3 {
  padding: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  border-radius: 1rem;
  box-shadow: #63636333 0px 2px 8px 0px;
  background-image: linear-gradient(to top, white 70%, #8800ff37);
}

.readmore-3 {
  color: #8700ff;
}

.card-description {
  color: #808080;
  line-height: 2rem;
  text-align: center;
}

.bx-chevron-left,
.bx-chevron-right {
  color: red;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background: #f0aa00;
  color: white;
  font-size: 3rem;
}

/* ------------------our story---------------------- */
#our-stories {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-block: 5rem;
}

.story-card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 1rem;
  column-gap: 1rem;
  margin-block: 5rem;
  /* flex: 1; */
}

.card-4 {
  grid-row: span 2;
  grid-column: span 2;
}

.card-6-1,
.card-6-2 {
  display: none;
}

/* card */
.card-4,
.card-5,
.card-6,
.card-7,
.card-8 {
  box-shadow: #63636333 0px 2px 8px 0px;
  border-radius: 1rem;
  line-height: 1.8rem;
}

.img-container {
  position: relative;
}

.card-img {
  border-radius: 1rem 1rem 0 0;
}

.btn {
  position: absolute;
  top: 90%;
  left: 8%;
  background: #3cd8e8;
  color: white;
  padding: 0.6rem;
  border-radius: 3rem;
  /* transform: translateX(3rem) translateY(-1.5rem); */
}

.card-5 .btn,
.card-7 .btn,
.card-8 .btn {
  background: #95b226;
}

.card-6 .btn {
  background: #5d58f0;
}

.card-5 .btn,
.card-6 .btn,
.card-7 .btn,
.card-8 .btn {
  top: 82%;
  padding: 0.4rem;
}

.card-info {
  flex-direction: column;
  padding: 2rem;
  gap: 2rem;
}

.story-title {
  padding: 2rem;
}

.story-description {
  color: #666666;
}

/* ----------------------footer---------------------- */
footer {
  background-color: #01acfd;
  color: white;
}

.footer-container {
  justify-content: space-between;
  padding-block: 5rem;
}

.footer-container > div {
  flex: 1;
}

/* education */
.education {
  flex-direction: column;
}

.edu-logo {
  gap: 1rem;
  margin-bottom: 2rem;
}

.edu-logo img {
  height: 72%;
}

.edu-description {
  font-size: 1rem;
}

/* about */
.about {
  justify-items: center;
}

.nav-title {
  margin-bottom: 1rem;
}

.about li {
  list-style: none;
  margin-bottom: 0.5rem;
}

/* touch */
.touch h3 {
  margin-bottom: 1.5rem;
}

/* ----------------------responsive------------------ */
@media screen and (max-width: 576px) {
  /* header */
  .nav-container {
    padding: 1.5rem;
  }

  .navbar {
    display: none;
  }

  .contact {
    display: none;
  }

  .bx-menu {
    display: block;
    font-size: 3.5rem;
  }

  .logo img {
    aspect-ratio: 1/1;
    width: 6rem;
  }

  .logo h2 {
    display: none;
  }

  /* hero section */
  .hero {
    flex-direction: column-reverse;
    padding-inline: 1.5rem;
  }

  .hero-content,
  .hero-img,
  .hero-img img {
    width: 100%;
  }

  .hero-content {
    text-align: center;
    padding: 5rem;
  }

  .hero-title {
    font-size: 5rem;
  }

  .hero-description {
    font-size: 2.3rem;
  }

  .button {
    margin: 0 auto;
    width: auto;
    padding: 2rem;
    font-size: 3rem;
    border-radius: 1.5rem;
  }

  /* curriculum */
  .curriculum h1 {
    font-size: 5rem;
  }

  .card-container {
    grid-template-columns: 1fr;
    padding-inline: 1.5rem;
    width: 100%;
    gap: 5rem;
  }

  .card-1,
  .card-2,
  .card-3 {
    width: 100%;
    aspect-ratio: 1/1;
    padding: 10rem;
    gap: 5rem;
  }

  .image {
    height: auto;
    width: 40%;
  }
  .card-title {
    font-size: 3rem;
  }

  .card-description {
    font-size: 2rem;
    line-height: 4rem;
  }

  .readmore-1,
  .readmore-2,
  .readmore-3 {
    font-size: 2.5rem;
    font-weight: bold;
  }

  .controller {
    display: none;
  }

  /*our stories  */
  .story-card-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .card-4 {
    display: none;
  }

  .card-6-1,
  .card-6-2 {
    display: block;
  }

  .our-stories .button {
    font-size: 0.5rem;
    padding: 1rem 5rem;
  }
}
