@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
  padding-inline: 1.25rem;
}

.display-flex {
  display: flex;
}

.btn-primary {
  background-color: orange;
  color: white;
  padding: 0.5rem 2rem;
  border: none;
  outline: none;
  border-radius: 0.5rem;
}

.bg {
  background-image: url(./assets/bg.png),
    linear-gradient(to bottom, white 50%, #fea10150);
}

/* -------------------Header------------------- */
.nav-container {
  justify-content: space-between;
  align-items: center;
  padding-block: 1rem;
}

.logo {
  align-items: center;
  gap: 1rem;
}

.nav-links {
  align-items: center;
  gap: 2rem;
}

.navbar li {
  list-style: none;
}

.navbar li a {
  text-decoration: none;
}

.nav-item-1 {
  color: orange;
}

.nav-item-2 {
  color: skyblue;
}

.nav-item-3 {
  color: #05d4df;
}

.nav-item-4 {
  color: #5d58ef;
}

.bx-menu {
  display: none;
}

/* ----------------------hero section------------------- */
.hero {
  justify-content: space-between;
  align-items: center;
}

.hero-content {
  flex-direction: column;
  gap: 1rem;
  flex: 1;
}

.hero-title {
  font-size: 3rem;
}

.hero-img {
  flex: 1;
}

.button {
  width: 8.9rem;
  padding: 0.7rem;
  background-color: black;
  font-size: 0.8rem;
}

.empower {
  color: orange;
}

.towards {
  color: skyblue;
}

/* ---------------------Main section----------------------- */

/* curriculum */
.curriculum {
  flex-direction: column;
  align-items: center;
  margin-block: 4rem;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-block: 4rem;
}

.card-container > div {
  padding: 2rem;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
  border-radius: 1rem;
  box-shadow: #63636333 0px 2px 8px 0px;
  background-color: #fff;
}

.card-container > div img {
  width: 50%;
}

.card-container > div button {
  border: none;
  outline: none;
  background: none;
  font-size: 1rem;
  font-weight: 600;
}

.card-1 {
  background-image: linear-gradient(to top, white 70%, #64c9ff48);
}
.card-2 {
  background-image: linear-gradient(to top, white 70%, #f0a8003b);
}
.card-3 {
  background-image: linear-gradient(to top, white 70%, #8800ff37);
}

.readmore-1 {
  color: #64c8ff;
}
.readmore-2 {
  color: #f0aa00;
}
.readmore-3 {
  color: #8700ff;
}

.card-description {
  color: #808080;
  line-height: 2rem;
  text-align: center;
}

.controller {
  display: flex;
  gap: 1rem;
}

.controller button {
  border: none;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background: #f0aa00;
  color: white;
  font-size: 3rem;
}

.bx-chevron-left,
.bx-chevron-right {
  color: white;
  font-size: 3rem;
}

/* ------------------our story---------------------- */
.our-stories {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 3rem;
  margin-top: 6rem;
}

.story-card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  margin-block: 4rem;
}

.card-4 {
  grid-row: span 2;
  grid-column: span 2;
}

/* card */
.story-card-container > div {
  background-color: #fff;
  box-shadow: #63636333 0px 2px 8px 0px;
  border-radius: 1rem;
  line-height: 1.8rem;
  overflow: hidden;
}

.card-6-1,
.card-6-2 {
  display: none;
}

.btn {
  width: max-content;
  background: #3cd8e8;
  color: white;
  padding: 0.6rem 1rem;
  border-radius: 3rem;
  font-size: 0.9rem;
  transform: translateX(2rem) translateY(-1.9rem);
}

/* .card-info {
  flex-direction: column;
  padding: 0 2rem 3rem;
  gap: 2rem;
} */

/* .card-info h2 {
  margin-bottom: 1rem;
} */

.card-5 .btn,
.card-7 .btn,
.card-8 .btn {
  background: #95b226;
}

.card-6 .btn {
  background: #5d58f0;
}

.card-5 .btn,
.card-6 .btn,
.card-7 .btn,
.card-8 .btn {
  padding-block: 0.3rem;
}

.story-title {
  padding: 0 2rem 1.5rem 2rem;
}

.story-title ~ p {
  padding: 0 2rem 2rem;
}

.story-description {
  color: #666666;
}

/* ----------------------footer---------------------- */
footer {
  background-color: #01acfd;
  color: white;
}

.footer-container {
  justify-content: space-between;
  padding-block: 8rem;
}

.footer-container > div {
  flex: 1;
}

/* education */
.education {
  flex-direction: column;
}

.edu-logo {
  /* width: 50%; */
  gap: 1rem;
  margin-bottom: 2rem;
}

.edu-logo img {
  width: 20%;
}

.edu-description {
  font-size: 1rem;
}

/* about */
.about {
  justify-items: center;
}

.nav-title {
  margin-bottom: 1.5rem;
}

.about li {
  list-style: none;
  margin-block: 1rem;
  cursor: pointer;
}

/* touch */
.touch > div {
  display: flex;
  gap: 0.5rem;
}

.touch > div img {
  width: 10%;
  cursor: pointer;
}

.touch h3 {
  margin-bottom: 2rem;
}

/* ----------------------responsive------------------ */
@media screen and (max-width: 576px) {
  .logo h2,
  .nav-container .navbar,
  .nav-container .contact {
    display: none;
  }

  .bx-menu {
    display: block;
    font-size: 2rem;
    cursor: pointer;
  }

  .hero {
    flex-direction: column-reverse;
    gap: 2rem;
  }

  .hero-content {
    font-size: 1.2rem;
    text-align: center;
    gap: 1.25rem;
    padding-inline: 1rem;
  }

  .hero-content .button {
    align-self: center;
    /* margin: 0 auto; */
  }

  /* curriculum */
  .curriculum h1 {
    font-size: 1.9rem;
  }

  .card-container {
    grid-template-columns: 1fr;
    font-size: 0.9rem;
    margin-top: 1.5rem;
  }

  .card-container > div {
    padding: 3rem 6rem;
  }

  .card-container img {
    width: 50%;
  }

  .controller {
    display: none;
  }

  /* our stories */
  .story-card-container {
    grid-template-columns: repeat(2, 1fr);
    font-size: 0.9rem;
  }

  .card-4 {
    display: none;
  }

  .card-6-1,
  .card-6-2 {
    display: block;
  }

  /* footer */
  .footer-container {
    flex-direction: column;
    gap: 3rem;
    padding-block: 5rem;
  }

  .edu-logo img {
    width: 14%;
  }

  .about {
    justify-items: flex-start;
  }
}
